<div class="home">
	<div class="home_in">
		<div class="image_desc col-md-3">
			<img src="images/monarch-blurbicon-locations.png" class="img_desc">
			<h3>GET PREVIOUS QUESTION PAPERS</h3>
			<p class="desc_p1 desc_p">Find all previous years question papers and materials by just a click.</p>
			<button class="btn btn1" ui-sref="getpapers">GET PAPERS</button>
		</div>
		<div class="image_desc col-md-3">
			<img src="images/monarch-blurbicon-design.png" class="img_desc">
			<h3>WRITE A SOLUTION</h3>
			<p class="desc_p2 desc_p">
				Help people by providing solutions to the questions and stand on the top position by grabing points.
			</p>
			<button class="btn btn2" ui-sref="tags">PROVIDE A SOLUTION</button>
		</div>
		<div class="image_desc col-md-3">
			<img src="images/monarch-blurbicon-social.png" class="img_desc">
			<h3>SHARE QUESTION PAPERS AND MATERIAL</h3>
			<p class="desc_p3 desc_p">Easily share Question Papers and Materials without any mess.</p>
			<button class="btn btn3" ui-sref="share">SHARE STUFF</button>
		</div>
		<div class="image_desc col-md-3">
			<img src="images/monarch-blurbicon-speed.png" class="img_desc">
			<h3>ASK A QUESTION</h3>
			<p class="desc_p4 desc_p">Have a Question?<br>Let's post it and get many solutions from people across the world.</p>
			<button class="btn btn4" ui-sref="askquestion">POST A QUESTION</button>
		</div>
	</div>
	<!--CONTACT US-->
	
	<div class="contact container">
		<h4 class="contact_in">CONTACT US</h4>
		<div>
			<form class="form-inline contact_form" role="form">
				<div class="form-group inner_contact_form">
					<div class="col-lg-4 col-sm-4 lower_cont">
						<input type="name" class="form-control main_form" id="name" required="required" placeholder="Your Name">
					</div>
					<div class="col-lg-4 col-sm-4 lower_cont">
						<input type="email" class="form-control main_form" id="email" required="required" placeholder="Your Email">
					</div>
					<div class="col-lg-4 col-sm-4 lower_cont">
						<input type="subject" class="form-control main_form" id="subject" required="required" placeholder="Subject">
					</div>
				</div>
				<div class="textarea_contact">
					<textarea class="form-control textarea-box" name="mymessage" placeholder="Your Message"></textarea>
				</div>
				<div class="mail_btn_div">
					<button class="btn btn-success send_msg_button" type="submit">Send Message</button>
				</div>
			</form>
		</div>

		<div class="inner_contact row">
			<div class="contact_icons col-xs-12 col-md-4 contact_icon1">
				<center>
					<span class="glyphicon glyphicon-envelope btn-lg contact_img1" ></span>
					<p class="contact_para">uttejh@gmail.com</p>
				</center>
			</div>	
			<div class="contact_icons col-xs-12 col-md-4 contact_icon2">
				<center>
					<span class="glyphicon glyphicon-map-marker btn-lg contact_img2"></span>
					<p class="contact_para">Hyderabad</p>
				</center>	
			</div>	
			<div class="contact_icons col-xs-12 col-md-4 contact_icon3">
				<center>
					<span class="glyphicon glyphicon-earphone btn-lg contact_img3"></span>
					<p class="contact_para">9059979265</p>
				</center>				
			</div>	
		</div>		
	</div>

	<!--END CONTACT US-->

</div>

